@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */

@layer base {
    html {
        font-family: var(--font-inter), sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-poppins), sans-serif;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

/* components */
@layer components {
    .heading {
        @apply text-2xl mb-7;
    }

    .dropdown {
        @apply border divide-solid border-[#e9e9ef] rounded shadow-[0_0.25rem_0.75rem_rgba(18,38,63,.08)] absolute top-full right-0 min-w-[160px] invisible opacity-0 z-10 translate-y-2 transition-all duration-300 p-1 bg-white;
    }
}

/* custom styles */

.dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

@keyframes sideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

header.header-sticky {
    height: 73px;
}

header.header-sticky > div {
    background-color: #0c1712;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    animation: sideIn 300ms linear;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
